<h1><%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<% @heroes.each do |hero| %>
  <h2>Hero Name: <%= hero.name %></h2>
  <p>Hero Power: <%= hero.power %></p>
  <p>Hero Biography: <%= hero.bio %></p>
<% end %>
